<script type="text/ng-template" id="common/resources/partials/search.modal.html">
		<div class="modal-header relative">
			 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			 <h4 class="modal-title" style="text-indent:15px;">Did you find it?</h4>
		</div>
		<div class="modal-body">
			<div class="container relative">
				<div class="seamstar-container">
				   <h5>Search</h5>
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<a href="javascript:void(0);" class="btn btn-danger" ng-click="cancel()">Cancel</a>
		</div>	 
</script>